body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000;
  }
  body {
    text-align: center;
    margin: auto;
    width: 80%; /* adjust the width to your liking */
  }
  h1 {
    color:lawngreen
  }

  h2 {
    color:lawngreen
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li h2 {
    color:lawngreen
  }
  
  li p {
    color: #666;
  }

  label {
    color:lawngreen
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid lawngreen;
    color: lawngreen;
    background-color: black;
    border-radius: 4px;
    box-sizing: border-box;
  }

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid lawngreen;
    color: lawngreen;
    background-color: black;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }

  #id {
    color:lawngreen
  }

  button {
    background-color: lawngreen;
    color: black;
    border-radius: 4px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }